service cloud.firestore {
  match /databases/{database}/documents {
  
    function currentOrg() {
    	return get(/databases/$(database)/documents/user/$(request.auth.uid)).data.currentOrg;
    }
    
    function sameOrg(id) {
    	return currentOrg() == path("/databases/"+database+"/documents/org/"+id);
    }

    function sameUid() {
        return request.auth.uid == resource.data.uid
    }
  
    match /hashSecrets/{id} {
        allow read, write: if false;
    }

    match /electionJwtKeys/{id} {
        allow read, write: if false;
    }

    match /encryptionKeys/{id} {
        allow read, write: if false;
    }

    match /apiKeys/{id} {
        allow read, write: if false;
    }

    match /voterIds/{id} {
        allow read, write: if false;
    }

    match /userNetworks/{id} {
        allow read, write: if false;
    }

    match /nonceCounter/{id} {
        allow read, write: if false;
    }

    match /ballotGroupsJwtSecret/{id} {
        allow read, write: if false;
    }

    match /ballotGroups/{id} {
        allow read: if true;
        allow create: if true;
        allow update, delete: if sameOrg(resource.data.orgid)
    }

    match /ballot/{id} {
        allow read: if true;
        allow create: if true;
        allow update, delete: if sameOrg(resource.data.orgid)
    }

    match /org/{id} {
        allow read: if true;
        allow create: if true;
        allow update, delete: if false;
    }

    match /orguser/{id} {
        allow read: if sameUid();
        allow create: if sameUid();
        allow update, delete: if false;
    }

    match /user/{id} {
        allow read: if sameUid() && resource.id == request.auth.uid;
        allow create: if sameUid() && resource.id == request.auth.uid;
        allow update, delete: if false;
    }

    match /deployedElections/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionTally/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionCastVote/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionCreateElection/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionUpdateVote/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionPublishKey/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionActivateElection/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionCloseElection/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionTokenTransfer/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionJwt/{id} {
        allow read: if true;
        allow write: if false;
    }
  }
}