service cloud.firestore {
  match /databases/{database}/documents {

    match /hashSecrets/{id} {
        allow read, write: if false;
    }

    match /encryptionKeys/{id} {
        allow read, write: if false;
    }

    match /voterIds/{id} {
        allow read, write: if false;
    }

    match /nonceCounter/{id} {
        allow read, write: if false;
    }

    match /ballot/{id} {
        allow read, write: if true;
    }

    match /org/{id} {
        allow read, write: if true;
    }

    match /orguser/{id} {
        allow read, write: if true;
    }

    match /user/{id} {
        allow read, write: if true;
    }

    match /transactionCastVote/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionCreateElection/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionUpdateVote/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionPublishKey/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionActivateElection/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionCloseElection/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionTokenTransfer/{id} {
        allow read: if true;
        allow write: if false;
    }

    match /transactionJwt/{id} {
        allow read: if true;
        allow write: if false;
    }
  }
}